.festivalCard {
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 0.1);
  transition: transform 0.2s ease-in-out;
}

.festivalCard:hover {
  transform: translateY(-5px);
}

.imageWrapper {
  position: relative;
  height: 12rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  overflow: hidden;
}

.image {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.upcomingBadge {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: rgba(0,0,0,0.75);
  color: white;
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 9999px;
  user-select: none;
  z-index: 2;
}
